{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>ورود</title>
    <link rel="stylesheet" href="{% static 'css/registration/login.css' %}">
{% endblock head %}

{% block body %}
<div class="container">
        <form action="" method="post" class="center">
            {% for field in form %}
                {% if field.error %}
                    {% for error in field.error %}
                        <p style="color: red;"> {{error}} </p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="ورود" class="btn btn-success">
            <a href="{% url 'Accounts:Signup' %}"  class="btn btn-primary" role="button"> ثبت نام </a>
        </form>
    </div>
{% endblock body %}