{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title> ثبت نام </title>
    <link rel="stylesheet" href="{% static 'css/registration/signup.css' %}">
{% endblock head %}

{% block body %}
    <div class="container">
        <form action="" method="post" class="center">
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p style="color: red;">{{error}}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="ثبت نام" style="display: inline;" class="btn btn-success">
            <a href="{% url 'login' %}"  class="btn btn-primary" role="button"> ورود </a>
        </form>
    </div>
{% endblock body %}