
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(10px,1fr) max-content minmax(0,1fr);
    grid-template-columns: minmax(10px,1fr) minmax(400px,40%) minmax(0,1fr);

}

.works{
    grid-row: 2/3;
    grid-column: 2/3;
    border: 1px solid #333;
    padding: 10px;
}


.work{
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.text-input{
    width: 75%;
}

.submit{    
    background-color:#76FF03;
    color: #333;
    border: transparent;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.submit:hover{
    color: #76FF03;
    background-color: #333;
}

.work .delete-btn{
    float: left;
    text-decoration: none;
    font-size: 26px;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 40px;
    background-color: #FF1744;
    color: #333;
    transition: 0.3s;
}

.work .delete-btn:hover{
    color:#FF1744;
    background-color: #333;
}

.work .save-btn{
    float: left;
    text-decoration: none;
    font-size: 26px;
    padding: 5px 10px;
    margin-left: 5px;
    border: transparent;
    border-radius: 40px;
    background-color: #0288D1;
    color: #333;
    transition: 0.3s;
}

.work .save-btn:hover{
    color:#0288D1;
    background-color: #333;
}

.done{
    color: #ccc;
}