@font-face {
    font-family: Vazir;
    src: url('../font/Vazir-Regular.ttf');
}

@font-face {
    font-family: BNazanin;
    src: url('../font/BNazanin.ttf');
}

*{
    font-family: 'Vazir' ;
    font-size: 32px;
    direction: rtl;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../img/markus-winkler-Q2J2qQsoYH8-unsplash.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px);  

}