{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}

{% block body %}    
    <div class="container">
        <div class="works">
            <form action="" method="post">
                <input type="text" name="title" >
            </form>
            {% for work in todo_list %}
                {{work}}
                {% empty %}
                <p>none</p>
            {% endfor %}  
        </div>
    </div>
  
{% endblock body %}