{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}

{% block body %}    
    {% include "partials/header.html" %}
    <div class="container">
        <div class="works">
            <form action="{% url 'Todo:Add_Work' %}" method="get" >
                {% csrf_token %}
                <input type="text" name="title" placeholder="عنوان" class="text-input" required>
                <input type="submit" value="اضافه کردن" class="submit" >
            </form>
            {% for work in todo_list %}
                <div class="work">
                    <a href="{% url 'Todo:Change' work.id %}"><img src="{% static 'img/tick-icon.png' %}" title="انجام شد" alt="انجام شد " width="40px" height="35px"></a>
                    <span> {{work.title}} </span> 
                    <a href="{% url 'Todo:Delete_Work' work.id %}" class="delete-btn"> حذف </a> 
                </div>
                {% empty %}
                    <p> هورا همه کار ها به پایان رسید </p>
            {% endfor %}  
            <hr>
            <h1> انجام شده </h1>
            {% for work in todo_list_done %}
                <div>     
                    <div class="work done"> 
                        <del> {{work.title}} </del>
                        <a href="{% url 'Todo:Delete_Work' work.id %}" class="delete-btn"> حذف </a>
                    </div>
                </div>
                {% empty %}
                    <p> کار امروز را به فردا نسپار </p>
            {% endfor %}
                
        </div>
    </div>
    
    <!-- <script src="{% static 'js/main.js' %}"></script> -->
{% endblock body %}