{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}

{% block body %}    
    <div class="container">
        <div class="works">
            <form action="{% url 'Todo:Add_Work' %}" method="get" >
                {% csrf_token %}
                <input type="text" name="title" placeholder="عنوان" class="text-input">
                <input type="submit" value="اضافه کردن" class="submit">
            </form>
            {% for work in todo_list %}
                {% if work.done %} 
                <div class="work done"> 
                    <del> {{work.title}} </del>
                    <a href="#" class="delete-btn"> حذف </a>
                </div>
                {% else %}
                    <form action="{% url 'Todo:Change' work.id %}" method="get" name="WorkForm" id="WorkForm">
                        <div class="work">
                            <input type="checkbox" name="done" id="" style="width: 25px ; height: 25px;">
                            <span> {{work.title}} </span> 
                            <a href="#" class="delete-btn"> حذف </a> 
                            <button type="submit" class="save-btn"> ذخیره </button>
                        </div>
                    </form>
                {% endif %}
                {% empty %}
                    <p>none</p>
            {% endfor %}  
        </div>
    </div>
    
    <script src="{% static 'js/main.js' %}"></script>
{% endblock body %}